h2.title Edit
form action="/notes/#{@note[:uuid]}" method='post'
  .field
    label.label Title
    input.input type='text' name='title' value="#{@note[:title]}"
  .field
    .control
      label.label Note
      textarea.textarea name='body'
        = @note[:body]
  .field
    input type='hidden' name='_method' value='put'
    button.button.is-primary type='submit' Save
