<ul>
  <% @notes.each do |item| %>
    <li style="border-bottom: 1px solid #eee; margin-bottom: 20px; padding-bottom: 20px;">
      <a class="is-text" href="/notes/<%= item[:uuid] %>"><%= h(item[:title]) %></a>
    </li>
  <% end %>
</ul>
<div class="has-text-centered">
  <a class="button is-primary" href="/notes/new">Add New Note</a>
</div>
