doctype html
html lang='ja'
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width, initial-scale=1'
    link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css'
    title == @title
  body
    .columns
      .column.is-half.is-offset-one-quarter
        a href="/"
          .hero.is-primary.mb-5
            .hero-body
              h1.title Note

        == yield
