h2.title = @title

form action='/notes' method='post'
  .field
    label.label Title
    input.input type='text' name='title'
  .field
    .control
      label.label Note
      textarea.textarea name='body' placeholder='ここに入力'
  .field
    button.button.is-primary type='submit' Save
